<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
    <body>

        <h1>Welcome to <%-title %> </h1>
       

        <% if (notifs==true){ %>
            <p><%- message %></p>
        <% }  %>

        <ul>
            <% products=['milk', 'bread', 'eggs','sugar']; 
            for (product of products) { %>
                
                <li>Product: <%- product %></li>
            <% } %>
        </ul>

        <a href="/about">Go to about</a>

    </body>
</html>