        <footer>
            <div class="bg-body-tertiary fixed-bottom">
                <div class="container text-center mt-3 mb-3 text-muted small">
                    Copyright &copy; <%= new Date().getFullYear() %> Newmart. All rights reserved.
                </div>
            </div>
        </footer>
    </body>

</html>